* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #699a8c;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
}

/* navbar */
.menu-links {
    float: right;
    padding-right: 20px;
}

.toggle-menu {
    float: right;
}

.toggle-menu li {
    display: block;
    float: left;
    list-style-type: none;
    text-align: left;
}

.toggle {
    padding-top: 5px;
    cursor: pointer;
}

li.toggle:hover span.toggle-menu-bar {
    background-color: #ddd;
}

.toggle-menu-bar {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #243642;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto 3px;
    transition: background-color 0.2s;
}

.a {
    font-size: 25px;
    text-decoration: none;
    color: #243642;
    padding: 1px 10px 1px 10px;
    transition: color 0.2s;
}

.a:hover {
    color: #ddd;
}

img {
    width: 500px;
    height: auto;
}

/* --------------------animation-------------------------------- */
.animation {
    background-color: #62825D;
    margin: 0;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.black-line {
    position: absolute;
    height: 22px;
    width: 100%;
    background-color: #526E48;
    color: white;
    white-space: nowrap;
    transform: translateX(100vw);
}

.words {
    position: absolute;
    top: 180px;
    /* too hard to do with % or ems */
    height: 85px;
    width: 100%;
}

.word-line {
    font-size: 85px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
    height: 85px;
    position: absolute;
    width: 100%;
    background-color: transparent;
    white-space: nowrap;
    transform: translateX(100vw);
}

/*odd numbers first*/
#line1 {
    animation: slideIn 2s forwards .5s, waitawhile 3s forwards 10s, slideOut 1s forwards 9.5s;
}

#line9 {
    /*goes with 9a*/
    animation: slideIn 2s forwards 3s, waitawhile 3s forwards 10s, slideOut 1s forwards 11s, slideBack 2s forwards 13s;
}

#line10 {
    /*goes with 9b*/
    animation: slideIn 2s forwards 4s, waitawhile 3s forwards 10s;
}

#line11 {
    /*goes with 9c*/
    animation: slideIn 2s forwards 2s,
        waitawhile 3s forwards 10s,
        slideOut 1s forwards 9.5s,
        /*was 9.5*/
        slideBack 2s forwards 19s,
        slice 2s forwards 22s;
    /* have to start after other anims */
}

#line3 {
    animation: slideIn 2s forwards 2s, waitawhile 3s forwards 10s, slideOut 1s forwards 11s, slideBack 2s forwards 13s;
}

#line5 {
    animation: slideIn 2s forwards 4.25s, waitawhile 3s forwards 10s, slideOut 1s forwards 11.5s, slideBack 2s forwards 13s;
}

#line7 {
    animation: slideIn 2s forwards 1.5s, waitawhile 3s forwards 10s, slideOut 1s forwards 9.75s, slideBack 2s forwards 13s;
}

#line9a {
    /*top hitchcock*/
    clip-path: inset(0 0 67% 0);
    animation: slideIn 2s forwards 3s, waitawhile 3s forwards 10s, slideOut 1s forwards 9s;
    z-index: 4;
}

#line9b {
    /* middle hitchcock and PSYCHO*/
    animation: slideIn 2s forwards 4s,
        waitawhile 3s forwards 10s,
        slideOut 1s forwards 8s,
        /*was 9.5*/
        slideBack 2s forwards 16s,
        slice 2s forwards 22s;
    /* Start after slideOut */
    clip-path: inset(32% 0 33% 0);
    z-index: 2;
}

#line9c {
    /*bottom hitchcock*/
    animation: slideIn 2s forwards 2s,
        waitawhile 3s forwards 9s,
        slideOut 1s forwards 9.5s;
    /*was 9.5*/
    /* Start after slideOut */
    clip-path: inset(66.8% 0 0 0);
    z-index: 3;
}

/*top of  Hola*/
#line9d {
    animation: slideIn 2s forwards 12s;
    clip-path: inset(0 0 67% 0);
    z-index: 4;
    background-color: #526E48;
}

#line9f {
    /*black background for Hola-not working*/
    animation: slideIn 2s forwards 10s;
    background-color: #526E48;
    height: 24px;
    /*get rid of pesky grey line*/
}

/*bottom of Hola*/
#line9e {
    animation: slideIn 2s forwards 12s;
    clip-path: inset(66.8% 0 0 0);
    z-index: 3;
    background-color: #526E48;
}

#line13 {
    animation: slideIn 2s forwards 3.5s, waitawhile 3s forwards 10s, slideOut 1s forwards 10.5s, slideBack 2s forwards 13s;
}

#line15 {
    animation: slideIn 2s forwards 2.75s, waitawhile 3s forwards 10s, slideOut 1s forwards 9s, slideBack 2s forwards 13s;
}

#line17 {
    animation: slideIn 2s forwards 2s, waitawhile 3s forwards 10s, slideOut 1s forwards 10s, slideBack 2s forwards 13s;
}

#line19 {
    animation: slideIn 2s forwards 3.25s, waitawhile 3s forwards 10s, slideOut 1s forwards 12s, slideBack 2s forwards 13s;
}

/*even numbers make background solid black- so comes last - with the 9b text*/
#line2 {
    animation: slideIn 2s forwards 5s, waitawhile 3s forwards 10s;
}

#line8 {
    animation: slideIn 2s forwards 5s, waitawhile 3s forwards 10s;
}

#line4 {
    animation: slideIn 2s forwards 5.5s, waitawhile 3s forwards 10s;
}

#line6 {
    animation: slideIn 2s forwards 4.75s, waitawhile 3s forwards 10s;
}

#line12 {
    animation: slideIn 2s forwards 4s, waitawhile 3s forwards 10s;
}

#line14 {
    animation: slideIn 2s forwards 5.25s, waitawhile 3s forwards 10s;
}

#line16 {
    animation: slideIn 2s forwards 6s, waitawhile 3s forwards 10s;
}

#line18 {
    animation: slideIn 2s forwards 5.25s, waitawhile 3s forwards 10s;
}

#line20 {
    animation: slideIn 2s forwards 5.5s, waitawhile 3s forwards 10s;
}

@keyframes slideIn {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes slideBack {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes waitawhile {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slice {
    0% {
        transform: translateX(0vw);
    }

    60% {
        transform: translateX(5vw);
    }

    65% {
        transform: translateX(-7vw);
    }

    70% {
        transform: translateX(5vw);
    }

    71% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0vw);
    }
}


/* --------------------animation-------------------------------- */


.article1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    min-height: 675px;
    display: flex;
    position: relative;
    padding: 40px 20px;
    background-color: #F5F1F1;
    align-items: flex-end;
    margin: 0 auto;
    vertical-align: top;
}

.box1 {
    display: flex;
    position: relative;
    padding: 40px 20px;
    background-color: #F5F1F1;
    align-items: flex-end;
    margin: 0 auto;
    grid-area: 1/1/2/2;
}

.person {
    flex: 5;
}

.right {
    flex: 7;
    padding-left: 20px;
}

h3 {
    font-size: 16px;
    color: #222222;
}

h4 {
    margin: 0;
    font-family: 微軟正黑體;
}

p {
    margin: 0;
    font-family: 微軟正黑體;
    font-size: 14px;
}

span {
    font-size: 14px;
    font-family: 微軟正黑體;
}

/* 左半部 */
#img_person {
    width: auto;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    left: 30px;
    bottom: 100px;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

button {
    padding: 6px 24px;
    display: inline-block;
    border: 2mm ridge rgba(148, 247, 209, 0.6);
    /* 邊框造型 */
    border-radius: 50px;
    background: hsla（0, 100%, 50%, 0.5）;
    /* button透明度 */
    margin: 0 10px -30px 10px;
    font-size: 14px;
}

.introduce {
    background-image: linear-gradient(rgb(52, 83, 73), rgba(158, 251, 214, 1));
    border-radius: 8px;
    padding: 10px 20px;
    top: 50px;
    color: white;
    position: relative;
    overflow: hidden;
}

.introduce>h1 {
    font-size: 28px;
    margin: 0 10pxs;
}

.introduce>h4 {
    margin: 10px 0;
    font-family: Noto Serif TC, serif;
    color: rgb(27, 55, 46);
}

.introduce>p {
    margin-bottom: 20px;
}

.tag {
    background-image: linear-gradient(rgba(58, 101, 107, 0.5), rgba(158, 251, 214, 0.5)),
        url("../img/backgroung1.png");
    padding: 16px 12px;
    border-radius: 8px;
}

.tag li {
    display: inline-block;
    font-family: 微軟正黑體;
    padding-right: 16px;
    font-size: 14px;
}

.tag h5 {
    margin: 0;
    font-family: 微軟正黑體;
    font-size: 12px;
    margin-bottom: 10px;
}

.g {
    color: #E2F1E7;
}

/* 右半部 */
.box2 {
    display: flex;
    flex-direction: column;
    grid-area: 1/2/1/3;

}

/* 背景 */
.about {
    background-color: #F5E9E9;
    padding: 24px 30px;
    position: relative;
    overflow: hidden;

}

.about_border {
    top: 0;
    left: 0;
    width: 99.2%;
    height: 99.4%;
    border: solid 3px #A08C97;
}

.lv {
    right: 0px;
}

about.h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.text1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
}

.style1 {
    background-color: #d9d9d9;
    padding: 5px 12px;
    border-radius: 8px;
}

.style2 {
    background-color: #243642;
    color: #e2f1e7;
    padding: 5px 12px;
    border-radius: 8px;
}

/* --------------------------base圓餅進度條------------------ */
.base {
    --percent: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'content';
    gap: 10px;
    margin: 10px;
    place-items: center;
}

.circle1 {
    --percent: 0;
    display: grid;
    grid-template-areas: 'content';
    place-items: center;
}

.circle1>* {
    grid-area: content;
}

.circle1 div {
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.circle1 circle {
    --circle-size: 295.3;
    stroke-width: 5px;
    stroke-dashoffset: var(--circle-size);
    stroke-dasharray: var(--circle-size);
    transform: rotate(-90deg);
    transform-origin: center;
}

.circle1 circle.is-animating {
    animation: progress 3000ms linear both;
}

.circle2 {
    --percent: 0;
    display: grid;
    grid-template-areas: 'content';
    place-items: center;
}

.circle2>* {
    grid-area: content;
}

.circle2 div {
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.circle2 circle {
    --circle-size: 295.3;
    stroke-width: 5px;
    stroke-dashoffset: var(--circle-size);
    stroke-dasharray: var(--circle-size);
    transform: rotate(-90deg);
    transform-origin: center;
}

.circle2 circle.is-animating {
    animation: progress 3000ms linear both;
}

.circle3 {
    --percent: 0;
    display: grid;
    grid-template-areas: 'content';
    place-items: center;
}

.circle3>* {
    grid-area: content;
}

.circle3 div {
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.circle3 circle {
    --circle-size: 295.3;
    stroke-width: 5px;
    stroke-dashoffset: var(--circle-size);
    stroke-dasharray: var(--circle-size);
    transform: rotate(-90deg);
    transform-origin: center;
}

.circle3 circle.is-animating {
    animation: progress 3000ms linear both;
}

@keyframes progress {
    from {
        stroke-dashoffset: var(--circle-size);
    }

    to {
        stroke-dashoffset: var(--offset);
    }
}

/* ---------------------------------------------------------- */


/* --------------------------技能---------------------------- */
.ability {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.ability div {
    background-color: #699a8c;
    color: #ddd;
    text-align: center;
    border: solid 10px;
    padding: 10px;
}

/* ---------------------------------------------------------- */




/* -----------回首頁top---------- */
.totop {
    color: #54473F;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.totop:hover {
    color: #9A7E6F;
}

/* ----------------------------- */





/* 底部 */
footer {
    width: 100%;

    height: 80px;
    background-color: #699a8c;
    min-width: 100%;

    display: flex;
    align-items: center;
    position: relative;

}

/* contact-me圖示 */
.social-link {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    right: 10px;
    gap: 10px;
}

.social-link .contact-me {
    font-size: 18px;
    font-weight: bold;
}